.post.well(itemscope itemtype="http://schema.org/BlogPosting")
  .row-fluid.clearfix
    div.pull-left
      h3: a(href=post.url, itemprop="headline")=post.title
    include share

  span.date-published(itemprop="datePublished") #{post.date.getFullYear()}-#{post.date.getMonth()+1}-#{post.date.getDate()}
  .post-body(itemprop="description")
    != post.content

  a#disqus_thread.btn.btn-default.center-block(href="#{post.url}#disqus_thread") Add comment

    