.share.dropdown.pull-right
  a.dropdown-toggle(href="#share", data-toggle='dropdown')
    img.btn(src='/images/share.svg')

  ul.dropdown-menu
    li.dropdown-header Share using...
    li: a(href='//plus.google.com/share?url=' + encodeURIComponent('http://meeDamian.com' + post.url), onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;")
      img.icon(src='/images/gplus64.png', alt='Share on Google+')
      span Google+

    li: a(href='//twitter.com/intent/tweet?via=chester1000&url=' + encodeURIComponent('http://meeDamian.com' + post.url), onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;")
      img.icon(src='/images/twitter64.png', alt='Tweet on Twitter')
      span Twitter

    li.divider
    li.dropdown-header Fork this post on...
    li: a(href='//github.com/chester1000/meeDamian.com/tree/master/_posts/' + post.slug + '.md')
      img.icon(src='/images/octocat64.png', alt='Fork on Github')
      span Github