doctype xml
rss(version='2.0')
  channel
    title Damian Mee
    link meeDamian.com
    description 
    each post in posts
      item
        title= post.title
        link= post.url
        description= post.rssDescription
        pubDate= post.date
        guid= post.slug
